.drink-titles {
    color: var(--txt);
    text-align: center;
}
.drink-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    column-gap: 1rem;
    row-gap: 4rem;
}
.drink-product {
    background: linear-gradient(to right, #1d1717,
    #0c0809,  #1d1717);
    text-align: center;
    border: 2px solid var(--txt2);
    border-radius: 7px;
    width: 250px;
    height: 350px;
    animation: opacity .2s reverse;
}
.drink-product img {
    margin-top: .7rem;
    border-radius: 7px;
    width: 230px;
}
.drink-product h3 {
    margin-top: .5rem;
    color: var(--txt);
    margin-bottom: 1rem;
}
.drink-info {
    color: #bdbdbd;
    background-color: #3a3133;
    padding: 7px 25px;
    border-radius: 5px;
    cursor: pointer;
}
.drink-info:hover {
    background-color: #4b4244;
}
.card-link {
    display: inline-block;
    padding: 8px 16px;
    background-color: #3a3133;
    border-radius: 4px;
    margin-top: 16px;
    color: #bdbdbd;
    text-decoration: none;
} 
.card-link:hover {
    background-color: #4b4244;
}

/* xxs = (extra extra small) */
@media (min-width: 320px) {
    .section {
        margin-top: 5rem;
    }
    .logo {
        width: 150px;
        position: absolute;
        margin-top: 35px;
        margin-left: 50px;
    }
    .drink-popup {
        position: fixed;
        inset: 0;
        backdrop-filter: blur(2.5px);
        display: grid;
        place-items: center;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        z-index: 10; 
        transition: opacity .4s, visibility .4s;
    }
    .close-popup {
        position: absolute;
        margin-top: -25px;
        margin-left: -25px;
        cursor: pointer;
    }
    .card-popup {
        position: relative;
        border: 2px solid var(--txt2);
        border-radius: 7px;
        background: linear-gradient(to right, #1d171773,
        #0c0809be,  #1d171773);
        padding: 2rem 2rem;
        transform: rotateX(90deg);
        transition: transform .2s;
    }
    .show-popup {
        opacity: 1;
        visibility: initial;
        pointer-events: initial;
    }
    .show-popup .card-popup {
        transform: rotateX(0deg);
    }
    #top-icon {
        position: absolute;
        margin-top: -4rem;
    }
}

/* lg = (large) */
@media (min-width: 1024px) {
    .container {
        max-width: 1024px;
    }
    .drink-titles {
        font-size: var(--size-3xl);
    }
}

/* xl = (extra large) */
@media (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }
    .section {
        margin-top: 5rem;
    }
    .drink-titles {
        font-size: var(--size-4xl);
    }
}
